@page
@model IndexModel
@{
    ViewData["Title"] = "Home page"; /* Not used*/
}
<link rel="stylesheet" href="~/css/site.css" />

<style>
    #myImage {
        max-width: 50%; /* The image will not exceed half the width of its container */
        height: auto;   /* Maintain the image's aspect ratio */
    }
</style>


<div class="text-center">
    <h1 class="display-4">@ViewData["Salutation"] and welcome to my first ASP.NET Core web app.</h1>
    <p>I hope you are having a great @ViewData["DayOfWeek"]</p>
    <img id="myImage" src="~/images/Me.jpg" asp-append-version="true" alt="Me with Jasper and Teddy">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
